@page "/admin/posts/edit/{PostId:int}"

<h3>Edit Post</h3>

<BlazoredToasts />

@if (_viewModel.Post == null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="_viewModel" OnSubmit="SavePost" FormName="CreatePost">
        <FluentValidationValidator
            @ref="_fluentValidationValidator" DisableAssemblyScanning="true"/>
        <ValidationSummary class="text-sm text-red-500 px-8" role="alert"/>
        <PostComponent Post="_viewModel.Post"/>
        <div>
            <button type="submit" disabled="@_isProcessing">
                <progress class="circle small white-text" style="display: @(_isProcessing ? "block" : "none")"></progress>
                <span>Save Post</span>
            </button>
            <a href="/admin/posts" class="button secondary">Cancel</a>
        </div>
    </EditForm>
}