@page "/"

@* <PageTitle>Home</PageTitle> *@

<p>
    If you got here, you are probably actually looking for my blog. My goal is to have some content on this page that is a
    better landing page at some point in time, but for now, I hope you enjoy the <a href="/blog" class="hover:cursor-pointer">posts</a> I have written.
</p>