@page "/"

@* <PageTitle>Home</PageTitle> *@

<h1>Home Page</h1>
<p>Here is where we would have our home page and then a link to the blog itself.</p>
<p>Just a test to see how this will work with the repo.</p>