<div>
    @if (Post is null)
    {
        <p>Loading...</p>
    }
    else
    {
        <EditForm EditContext="_postContext" FormName="postComponent">
            <div class="field label border small-round">
                <InputText Value="@Post.Title" ValueExpression="() => Post.Title" ValueChanged="@((string? title) => UpdateSlug(title))" id="title" placeholder=" "/>
                <label for="title">Title</label>
            </div>
            <div class="field">
                <div class="row no-padding">
                    <div class="max">
                        <div class="field label border small-round">
                            <InputText @bind-Value="Post.Slug" id="slug" placeholder=" "/>
                            <label for="slug">Slug</label>
                        </div>
                    </div>
                    <button type="button" class="text-nowrap" @onclick="ReplaceSlug">Replace Slug</button>
                </div>
            </div>
            <div class="field label border small-round">
                <InputDate @bind-Value="Post.PostedOn" id="postedOn" placeholder=" "/>
                <label for="postedOn">Posted On</label>
            </div>
            <div class="field textarea label border small-round">
                <textarea @bind-value="Post.Content" @bind-value:event="oninput" id="content" placeholder=" "></textarea>
                <label for="content">Content</label>
            </div>
            <div class="field label border small-round">
                <div class="blogPost">
                    @((MarkupString)_preview)
                </div>
            </div>
            <label class="checkbox">
                <InputCheckbox @bind-Value="Post.IsPublished" id="published" placeholder=" "/>
                <span for="published">Is Published</span>
            </label>
        </EditForm>
    }
</div>